<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="component-test">
  <template>
    <style>
      :host {
        display: block;
        color:red;
      }
    </style>
    <h2>HelloXXX [[name]]!</h2>
    <h2>tengo [[age]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentTest extends Polymer.Element {
      static get is() { return 'component-test'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'cliente uno'
          },
          age: {
            type: Number,
            value: 35
          }
        };
      }
    }

    window.customElements.define(ComponentTest.is, ComponentTest);
  </script>
</dom-module>
