<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <h1 class="col-md-12">Visor Cuenta</h1>
       </div>
       <iron-ajax
         auto=""
         url="http://localhost:3002/colapi/v3/users/7/account"
         id="getuser"
         handle-as="json"
         on-response="showData1"></iron-ajax>
         <template is="dom-repeat" items="[[accounts]]">
           <h3>IBAN - {{item.iban}}</h3>
           <h3>Saldo - {{item.balance}}</h3>
         </template>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }

      showData1(data1){
       //console.log(data);
       console.log("Recibidos datos--- de CUENTAS>>:");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
       console.log(data1.detail.response);
       this.accounts = data1.detail.response;
     }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
