<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="logout-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12">==========Logout Usuario==========</h2>
   </div>
   <input type="email" placeholder="Email" value="{{email::input}}">
   <!--<input type="password" placeholder="Password" value="{{password::input}}">-->
   <button class="btn btn-success" on-click="logout">Logout</button>
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->
   <span hidden$="{{!isLoggedout}}">No Logado</span>

   <iron-ajax
     id="doLogout"
     url="http://localhost:3002/colapi/v3/logout"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LogoutUsuario extends Polymer.Element {
     static get is() { return 'logout-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, isLoggedout: {
           type: Boolean,
           value: false
         }
       };
     }

     logout() {
       console.log("El usuario ha pulsado el botón logout.");
       var logoutData = {
         "email" : this.email
       };
       console.log("this.email = " + this.email);
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogout.body = JSON.stringify(logoutData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogout.generateRequest();
       console.log("Petición logout enviada");
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
       var resx = data.detail.response.msg;
       //console.log("valor de rex = " + resx);
       if(resx == "Usuerio DES-loggado ok"){

         this.isLoggedout = true;
      }
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LogoutUsuario.is, LogoutUsuario);
 </script>
</dom-module>
