<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="component-test2">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <!--ejempolo de oneway binding -->
    <h2>Hello [[name]]!</h2>
    <h2>tengo [[age]]</h2>
    <!--dos input  tow way binding-->
    <input type="text" value ={{name::input}} />
    <input type="range" min = "18" max = "120" value ={{age::input}} />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentTest2 extends Polymer.Element {
      static get is() { return 'component-test2'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'cliente dos'
          },
          age: {
            type: Number,
            value: 38
          }
        };
      }
    }

    window.customElements.define(ComponentTest2.is, ComponentTest2);
  </script>
</dom-module>
